header {
    display: flex;
    justify-content: center;
    background-color:#023A51;
    padding-top: 1%;
    width: 100%;
}

.dropdown-menu{
    border-radius: 0%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width:200px;
}

.navbar-expand-lg{
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown-item{
    color: #023A51;
    padding: 10px;
}

.dropdown-item:hover{
    font-size: 20px;
    transition: .2s;
}

.nav-link{
    color: #5c667d;
}

.nav-link a{
    width:6rem;
}

.nav-link:hover{
    color: white;
}

#logo{
    width :229px;
    height: 40px;
    margin-right:10%;
}

#modale{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #2CBC63;
    border: 0ch;
}

#modale img{
    margin-top:4px;
}

#modale:hover{
    background-color: #5c667d;
    transition: 0.2s;
}

#offcanvas{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.nav-link{
    font-size: medium;
}

#menu{
    gap: 2%;
}

.header_container{
    display: flex;
    justify-content: center;
    padding-right: 5%;
    gap:20%;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.offcanvas-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form span{
    margin-right: 50%;
    margin-top: 10%;
    color: #5c667d;
    font-size: medium;
}

.mb-3{
    width: 90%;
}

#submit-off{
    width: 90%;
    border-radius: 0%;
    height: 45px;
    background-color: #2CBC63;
    border: 0ch;
}

.form-control{
    border-radius: 0%;
    height: 45px;
}

#offcanvas{
    background-color:white ;
    border: 0ch;
}

#offcanvas img{
    margin-top: 4px;
}

.offcanvas-header{
    margin-left:90%;
}