/* ----------------- EXTRASMALL AND SMALL DEVICES ----------------- */

@media (max-width: 767px) {

    footer p {
        font-size: 1.15rem;
    }

    /* ----------------- HEADER ----------------- */

    .header_container{
        width: 100%;
    }

    #offcanvas{
        display: none;
    }

    .header_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-left:60px;
        margin-right: 25px;
    }

    #modale{
        display:none;
    }
    

    
     /* ----------------- FOOTER HERO ----------------- */

    .footer-hero-wrapper {
        width: 90%;
    }

     .footer-hero h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1.8rem;
    }

    .footer-hero h5 {
        margin: 0;
    }

    /* ----------------- BODY ----------------- */

  
    /* ----------------- FOOTER MENU ----------------- */

    .footer-menu {
        padding: 0 2rem;
    }

    .footer-grid-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'col1 col2'
        'col3 col4';
        gap: 3rem 4rem;
    }    

    /* ----------------- FOOTER NEWSLETTER ----------------- */

    .footer-newsletter {
        width: 100%;
        padding: 5rem 0 2rem;
        order: 2;
    }

    footer form {
        margin: 3rem 0;
    }

    /* ----------------- FOOTER ADDRESS & CREDITS ----------------- */

    .footer-address {
        width: 100%;
        order: 1;
    }

    .footer-credits {
        width: 100%;
        order: 3;
    }

    .footer-credits p {
        line-height: 1.6rem;
    }
}
