@import "reset.css";

img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu-mobile {
    display: none;
}

input:checked ~ .dropdown-menu-mobile {
    display: block;
}

.header-buttons .offcanvas-body label {
    display: block;
}

.header-buttons .offcanvas-body input {
    display: none;
}
