/* div {
  border: solid black;
} */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


* {
  font-family: "Manrope", sans-serif;
}

html {font-size: 16px;}

:root {
  --primary: #023a51;
  --green: #2cbc63;
  --body: #5c667d;
  --body-darker: #59667d;
  --accent: #a6bac2;
  --footer-body: #a69caa;
}

a:hover {
  border-top: solid white;
}

.background {
  background-color: 023a51 !important;
}

.background2 {
  background-color: rgb(211, 207, 207);
  border-radius: 50%;
}

.white {
  color: white !important;
}

.cardhover:hover {
  opacity: 0.3;
}

.bottonX {
  border-radius: 100%;
  font-size: 1.5rem;
  background-color: 023a51;
  border-color: 023a51;
}

.bottonX:hover {
  transition: all 0.5s ease;
  transform: rotate(360deg);
  background-color: 023a51;
}

.menu:hover {
  text-decoration: underline green;
  cursor: pointer;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;

}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 1 / 2 / 3 / 3;
  
}



ol, ul {
	list-style: none;
}
/*footer*/

footer {
  background-color: var(--primary);
}

footer p {
  color: var(--footer-body);
  font-size: 1.22rem;
  line-height: 2rem;
}

.footer-hero {
  background-image: url(/shop/images/footer-bg.png);
  background-position: 50% 15px;
  background-repeat: no-repeat;
  background-size: 700px auto;
  background-attachment: scroll;
}

.footer-hero-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 42%;
  margin: auto;
  padding: 7.6rem 0;
}

.footer-hero h2 {
  color: white;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  line-height: 5.8rem;
}

.footer-hero h5 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.52rem;
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  line-height: 2.4rem;
  margin: 1.7rem 10rem 0;
}

.footer-hero button {
  border: solid 0.1rem transparent;
  margin: 2.4rem auto 1.8rem auto;
  padding: 1.7rem 5rem;
  background-color: var(--green);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.footer-hero button:hover {
  background-color: var(--primary);
  border: solid 0.1rem rgba(255, 255, 255, 0.3);
}

.footer-hero p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.footer-hero a {
  color: white;
  font-weight: 600;
}

/* ----------------- FOOTER MENU ----------------- */

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 45%;
}

.footer-grid-container h5 {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer-grid-container li {
  margin-top: 1rem;
}

.footer-grid-container li a {
  color: var(--accent);
  font-size: 1.25rem;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.footer-grid-container li a:hover {
  color: white;
}

/* ----------------- FOOTER NEWSLETTER ----------------- */

.footer-newsletter {
  width: 20%;
}

footer form {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;

  position: relative;
  width: 100%;
}

footer input[type="email"] {
  flex-grow: 2;
  background-color: transparent;
  line-height: 2;
  padding-bottom: 1rem;
  border: none;
  border-bottom: solid 0.3rem var(--accent);
  transition: all 0.2s ease-in-out;
}

footer input[type="email"]::placeholder {
  font-size: 1.2rem;
  color: var(--accent);
  opacity: 0.5;
}

footer input:focus {
  border-bottom: solid 0.3rem var(--green);
}

footer form button {
  position: absolute;
  border: none;
  background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="rgba(166,157,170,1)" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  right: 0.3rem;
  top: 1.2rem;
  bottom: 0.3rem;
  padding: 0 1rem;
  z-index: 2;
}

/* ----------------- FOOTER ADDRESS & CREDITS ----------------- */

.footer-address {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  padding: 4rem 0 5rem 0;
}

.footer-credits {
  width: 65%;
  margin: auto;
  text-align: center;
  padding: 4rem 0;
  border-top: solid 0.04rem rgba(255, 255, 255, 0.1);
}

.footer-address a,
.footer-credits a {
  color: var(--accent);
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.footer-address a:hover,
.footer-credits a:hover {
  color: white;
}

/* ----------------- UPPER HEADER (nav.header-icons) ----------------- */

header {
  background-color: var(--primary);
  background-image: url(https://fin.21lab.co/wp-content/uploads/2021/09/bg-ttb.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: auto;
  padding: 2rem 0rem;
}

.header-divider {
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  height: 1px;
}

.header-logo-social {
  display: flex;
  align-items: center;
  gap: 3.7rem;
}

.header-logo,
.header-social {
  display: flex;
  gap: 1.2rem;
}

.header-logo img {
  max-width: 19rem;
  height: auto;
}

.header-social svg {
  width: 1.5rem;
  fill: white;
}

.header-social a:nth-child(3) svg {
  width: 1.3rem;
}

.header-social a {
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.5rem;
  background-color: transparent;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.header-social a:hover {
  background-color: var(--body);
}

.header-buttons-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.header-buttons-wrapper svg {
  width: 1.4rem;
  fill: var(--body);
}

.header-buttons-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.cart-bubble {
  display: none;
  position: absolute;
  margin-top: 17rem;
  margin-left: -4rem;
  background-color: white;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  width: 26rem;
  height: 11rem;
  z-index: 99;

  animation: fadeInFromBottom 0.3s ease-in-out 0s 1 normal forwards;
  transform: translateY(0.5rem);
  opacity: 0;
}

.cart-bubble:before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  position: absolute;
  bottom: 100%;
  right: 0;
}

.cart-bubble svg {
  width: 5rem;
  fill: rgba(0, 0, 0, 0.1);
}

.cart-bubble p {
  font-size: 1.1rem;
  color: var(--body);
}

.header-buttons-link:hover ~ .cart-bubble {
  display: flex;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-buttons a:hover {
  transform: scale(1.2, 1.2);
}

.header-buttons-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.header-talk-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: var(--green);
  border-radius: 2rem;
  padding: 1rem 2.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.header-talk-button:hover {
  background-color: var(--body);
}

.header-talk-button svg {
  fill: white;
  text-align: center;
  width: 1rem;
  animation: scale-bubble 0.7s ease-in-out 0.5s infinite alternate;
}

@keyframes scale-bubble {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
    /* box-shadow: 0px 0px 8px white; */
  }
}

/* ----------------- MIDDLE HEADER (nav.header-menu) ----------------- */

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: auto;
  gap: 2rem;
  padding-bottom: 0.4rem;
}

.offcanvas-btn-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  background-color: white;
  transition: all 0.2s ease-in-out;
  border: solid 0.1rem white;
  border-radius: 50%;
  padding: 1.4rem;
  background-image: url(/case-studies-3/images/bars-solid-body-darker.svg);
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: center center;
}

.dropdown-nav {
  display: flex;
  overflow: hidden;
}

.dropdown-button {
  display: flex;
  align-items: center;
  position: relative;

  border: none;
  border-top: solid 0.3rem transparent;
  height: 6rem;

  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.dropdown-button.caret::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><style>.fill{fill: white;};</style><path class="fill" d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg>');
  display: block;
  margin-left: 0.8rem;
  width: 0.6rem;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.dropdown-button.caret:hover::after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><style>.fill{fill: white;};</style><path class="fill" d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg>');
  display: block;
  margin-left: 0.8rem;
  width: 0.6rem;
  height: auto;
  transform: rotate(180deg);
}

.dropdown-nav:hover .dropdown-button {
  border-top: solid 0.3rem white;
}

.dropdown-button.active {
  border-top: solid 0.3rem white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 25rem;
  padding: 0.5rem 2rem;
  margin-top: 6rem;
  z-index: 1;
  filter: drop-shadow(0px 10px 5px rgba(2, 59, 81, 0.2));
  transition: all 0.3s ease-in-out;
}

.dropdown-content a {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary);
  transition: all 0.2 ease-in-out;
}

.dropdown-content a:hover {
  color: var(--body-darker);
}

.dropdown-content a:hover ~ ul li::before {
  font-size: 3rem;
}

.dropdown-content li {
  padding: 1.4rem 0;
  border-top: solid 0.1rem rgb(0, 0, 0, 0.1);
}

.dropdown-content li:first-child {
  border: none;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}

.header-menu ul li::before {
  content: "\2022";
  color: var(--green);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

/* .header-menu ul li:hover::before {
  font-size: 2rem;
  transform: scale(2);
} */

/* ----------------- OFF CANVAS (header-menu) ----------------- */

.header-menu .offcanvas {
  padding: 3rem;
}

.header-menu .offcanvas-body {
  font-size: 1.25rem;
  line-height: 2.2rem;
  color: var(--body);
}

.header-menu .offcanvas-body a {
  color: var(--green);
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.header-menu .offcanvas-body a:hover {
  color: var(--primary);
}

.header-menu .offcanvas-body .offcanvas-description {
  margin-bottom: 2rem;
}

.header-menu .offcanvas img {
  max-width: 310px;
  height: auto;
  margin-bottom: 4rem;
}

.offcanvas legend {
  margin-top: 5rem;
  color: var(--body);
  opacity: 0.7;
  font-weight: 700;
}

.offcanvas form input {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.7rem 1.8rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.offcanvas form input::placeholder {
  color: var(--body);
  opacity: 0.7;
}

.header-menu .offcanvas-body input:focus {
  border: solid 0.1rem var(--green);
}

.submit-btn-drop {
  border: none;
  margin-bottom: 4rem;
  background-color: var(--green);
  color: white;
  font-weight: 700;
  box-shadow: 0 2px 2px rgb(2 58 81 / 6%), 0 4px 4px rgb(2 58 81 / 6%),
    0 8px 8px rgb(2 58 81 / 6%), 0 16px 16px rgb(2 58 81 / 6%),
    0 32px 32px rgb(2 58 81 / 6%);
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.7rem 1.8rem;
  font-size: 1.2rem;
}

.submit-btn-drop:hover {
  background-color: var(--primary);
  box-shadow: 0 0 0;
}

.header-menu .btn-close.text-reset {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0;
  background-color: var(--green);
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><style>.this{fill: white;};</style><path class="this" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>');
  background-repeat: no-repeat;
  background-size: 45%;
  opacity: 1;
}

/* -----------------  LOWER HEADER (section.page-title) ----------------- */

.page-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 5rem 5rem;
}

.page-title h1 {
  color: white;
  font-size: 5rem;
  font-weight: 600;
}

.page-title h5 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.52rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-top: 1rem;
}

/* ----------------- OFF CANVAS MOBILE MENU ----------------- */

.header-mobile-nav {
  display: none;
}

.header-mobile-nav input[type="checkbox"] {
  display: none;
}

.header-mobile-nav .mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  text-align: center;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border: solid 0.1rem white;
  border-radius: 50%;
  padding: 1.4rem;
  background-image: url(/case-studies-3/images/bars-solid-white.svg);
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: center center;
}

.header-mobile-nav .offcanvas {
  padding: 2.4rem 1.4rem;
}

.header-mobile-nav .offcanvas-end {
  width: 80%;
}

.header-mobile-nav .offcanvas-header {
  justify-content: end;
}

.header-mobile-nav .offcanvas-body label,
.header-mobile-nav .offcanvas-body a {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--body);
  padding-bottom: 1.1rem;
  padding-top: 1.1rem;
}

.header-mobile-nav .offcanvas-body a {
  border-bottom: solid 1px rgb(0, 0, 0, 0.1);
}

.label-caret {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(0, 0, 0, 0.1);
}

.label-caret .dropdown-label {
  border-right: solid 1px rgb(0, 0, 0, 0.1);
  width: 16.3rem;
}

.label-caret .dropdown-caret::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  color: var(--body);
  font-weight: 900;
  font-size: 1rem;
  margin-left: -2rem;
}

.dropdown-caret:hover::after {
  content: "\f0d7";
}

.header-mobile-nav .offcanvas-body label[for="homepage"] {
  border-top: none;
}

.header-mobile-nav .btn-close {
  width: 0.3rem;
  height: 0.3rem;
}

.dropdown-menu-mobile {
  display: none;
  margin-left: 3rem;
}

input[name="homepage"]:checked ~ .dropdown-homepage {
  display: block;
}

input[name="whoweare"]:checked ~ .dropdown-whoweare {
  display: block;
}

input[name="whatwedo"]:checked ~ .dropdown-whatwedo {
  display: block;
}

input[name="casestudies"]:checked ~ .dropdown-casestudies {
  display: block;
}

/* ----------------- MODAL ----------------- */

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-body {
  padding: 4rem;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
  display: block;
}

.modal-body select {
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary);
  padding: 0.3rem;
  cursor: pointer;
}

.modal-select-row label {
  font-size: 1.25rem;
  color: var(--body);
}

.modal-select-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 0.05rem rgba(0, 0, 0, 0.15);
}

.modal-input-row {
  margin-bottom: 2rem;
}

.modal-input-row.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.modal-input-row label {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--body);
}

.modal-input-row input,
.modal-input-row textarea {
  width: 100%;
  border: solid 0.1rem rgba(0, 0, 0, 0.15);
  padding: 1rem 1.8rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.03);
  font-size: 1.2rem;
}

.modal-input-row input:focus,
.modal-input-row textarea:focus {
  border: solid 0.1rem var(--green);
}

.modal-input-row input::placeholder,
.modal-input-row textarea::placeholder {
  font-size: 1.2rem;
  opacity: 0.7;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-body label[for="signup"] {
  display: inline;
  font-size: 1.1rem;
  color: var(--body);
  margin: 0.3rem 0;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 0.9rem;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

.modal-body input[type="submit"] {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  width: 30%;
  padding: 1.1rem 2rem;
}

.modal .btn-close.text-reset {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0;
  background-color: var(--green);
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><style>.this{fill: white;};</style><path class="this" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>');
  background-repeat: no-repeat;
  background-size: 45%;
  opacity: 1;
  margin: 0;
  z-index: 1;
}

.modal-dialog-scrollable .modal-content {
  margin-top: 15vh;
}

@media only screen and (min-width: 1185px) and (max-width: 1800px) {
  .header-icons {
    width: 90%;
    padding: 2rem 3rem;
  }

  .header-menu {
    width: 90%;
    padding: 0 3rem;
  }
  .footer-grid-container {
    width: 58%;
}

.footer-newsletter {
    width: 28%;
}

.footer-address, .footer-credits {
    width: 86%;
}

footer input[type="submit"] {
    right: 16rem;
}

}

@media (min-width: 768px) and (max-width: 1185px) {
  /* ----------------- HEADER ----------------- */

  .header-social,
  .header-menu {
    display: none;
  }

  .header-mobile-nav {
    display: inline-flex;
  }

  .header-icons {
    width: 90%;
  }

  .header-menu {
    padding: 0 2rem;
    justify-content: center;
  }

  .dropdown-button {
    font-size: 1.2rem;
  }

  .page-title {
    padding: 4rem 5rem 5rem;
  }

  .page-title h1 {
    font-size: 2.5rem;
  }

  /* ----------------- OFF CANVAS TABLET MENU ----------------- */

  .header-mobile-nav .offcanvas-end {
    width: 60%;
  }

  .header-mobile-nav .offcanvas-end label,
  .header-mobile-nav .offcanvas-end a {
    line-height: 3rem;
    font-size: 1.5rem;
  }

  .footer-hero-wrapper {
    width: 65%;
}

/* ----------------- FOOTER MENU ----------------- */

.footer-grid-container {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
    padding: 0 4rem;
}

/* ----------------- FOOTER NEWSLETTER ----------------- */

.footer-newsletter {
    width: 100%;
    padding: 4rem 4rem 5rem;
    order: 2;
}

footer input[type="email"] {
    margin-top: 2rem;
    padding: 2rem;
}

footer input[type="email"]::placeholder {
    font-size: 1.4rem;
}    

footer form button {
    top: 5rem;
}

footer form {
    margin: 0;
}

/* ----------------- FOOTER ADDRESS & CREDITS ----------------- */

.footer-address {
    width: 100%;
    padding: 6rem 4rem 8rem;
    order: 1;
}

.footer-credits {
    width: 100%;
    order: 3;
}

}

@media (max-width: 767px) {
  footer p {
    font-size: 1.15rem;
  }

  /* ----------------- HEADER ----------------- */

  .header-social,
  .header-buttons-wrapper,
  .header-menu,
  .header-divider {
    display: none;
  }

  .header-icons {
    padding: 1.6rem 1.6rem 1.3rem;
    width: 100%;
  }

  .header-mobile-nav {
    display: block;
  }

  .offcanvas-btn-mobile {
    display: block;
  }

  .page-title {
    padding: 5rem 5rem 5rem;
  }

  .page-title h1 {
    font-size: 2.5rem;
  }

  .page-title h5 {
    font-size: 1.5rem;
  }

  .card14 {
    width: 5rem;
  }

  .footer-hero-wrapper {
    width: 90%;
}

 .footer-hero h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.8rem;
}

.footer-hero h5 {
    margin: 0;
}

/* ----------------- FOOTER MENU ----------------- */

.footer-menu {
    padding: 0 2rem;
}

.footer-grid-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'col1 col2'
    'col3 col4';
    gap: 3rem 4rem;
}

/* ----------------- FOOTER NEWSLETTER ----------------- */

.footer-newsletter {
    width: 100%;
    padding: 5rem 0 2rem;
    order: 2;
}

footer form {
    margin: 3rem 0;
}

/* ----------------- FOOTER ADDRESS & CREDITS ----------------- */

.footer-address {
    width: 100%;
    order: 1;
}

.footer-credits {
    width: 100%;
    order: 3;
}

.footer-credits p {
    line-height: 1.6rem;
}
}
