@import "/contactus/styles/reset.css";
/* RESET */
@import "/contactus/styles/header.css";
/* HEADER */
@import "/contactus/styles/main.css";
/* MAIN */
@import "/contactus/styles/footer.css";
/* FOOTER */
@import "/contactus/styles/mq-small.css";
/* SMALL DEVICES MEDIA QUERY */
@import "/contactus/styles/mq-medium.css";
/* MEDIUM DEVICES MEDIA QUERY */
@import "/contactus/styles/mq-large.css";
/* LARGE DEVICES MEDIA QUERY*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

:root {
    --primary: #023A51;
    --green: #2CBC63;
    --body: #5c667d;
    --body-darker: #59667d;
    --accent: #A6BAC2;
    --footer-body: #A69CAA;
}

/* .envato { height: 55px; background-color: #262626;} */


/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */