/* ----------------- LARGE DEVICES ----------------- */

@media only screen and (min-width: 1185px) and (max-width: 1800px) {

    /* ----------------- HEADER ----------------- */

    .header-icons {
        width: 90%;
        padding: 2rem 3rem;
    }
    
    .header-menu {
        width: 90%;
        padding: 0 3rem;
    }

    /* ----------------- FOOTER ----------------- */

    .footer-grid-container {
        width: 55%;
    }

    .footer-newsletter {
        width: 25%;
    }

    .footer-address, .footer-credits {
        width: 80%;
    }

    footer input[type="submit"] {
        right: 16rem;
    }
    
}