/* ----------------- FOOTER HERO ----------------- */

footer {
    background-color: var(--primary);
}

footer p {
    color: var(--footer-body);
    font-size: 1.22rem;
    line-height: 2rem;
}

.footer-hero {
    background-image: url(/case-studies-3/images/footer-bg.png);
    background-position: 50% 15px;
    background-repeat: no-repeat;
    background-size: 700px auto;
    background-attachment: scroll;
}

.footer-hero-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 42%;
    margin: auto;
    padding: 7.6rem 0;
}

.footer-hero h2 {
    color: white;
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    line-height: 5.8rem;
}

.footer-hero h5 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.52rem;
    font-weight: 400;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    line-height: 2.4rem;
    margin: 1.7rem 10rem 0;
}

.footer-hero button {
    border: solid 0.1rem transparent;
    margin: 2.4rem auto 1.8rem auto;
    padding: 1.7rem 5rem;
    background-color: var(--green);
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.footer-hero button:hover {
    background-color: var(--primary);
    border: solid 0.1rem rgba(255, 255, 255, 0.3)
}

.footer-hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.footer-hero a {
    color: white;
    font-weight: 600;
}

/* ----------------- FOOTER MENU ----------------- */

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 45%;
}

.footer-grid-container h5 {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-grid-container li {
    margin-top: 1rem;
}

.footer-grid-container li a {
    color: var(--accent);
    font-size: 1.25rem;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.footer-grid-container li a:hover {
    color: white;
}

/* ----------------- FOOTER NEWSLETTER ----------------- */

.footer-newsletter {
    width: 20%;
}

footer form {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;

    position: relative;
    width: 100%;
}

footer input[type="email"] {
    flex-grow: 2;
    background-color: transparent;
    line-height: 2;
    padding-bottom: 1rem;
    border: none;
    border-bottom: solid 0.3rem var(--accent);
    transition: all 0.2s ease-in-out;
}

footer input[type="email"]::placeholder {
    font-size: 1.2rem;
    color: var(--accent);
    opacity: 0.5;
}

footer input:focus {
    border-bottom: solid 0.3rem var(--green);
}

footer form button {
    position: absolute;
    border: none;
    background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="rgba(166,157,170,1)" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    right: 0.3rem;
    top: 1.2rem;
    bottom: 0.3rem;
    padding: 0 1rem;
    z-index: 2;
} 

/* ----------------- FOOTER ADDRESS & CREDITS ----------------- */

.footer-address {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    padding: 4rem 0 5rem 0;
}

.footer-credits {
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 4rem 0;
    border-top: solid 0.04rem rgba(255,255,255,0.1);
}

.footer-address a, .footer-credits a {
    color: var(--accent);
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.footer-address a:hover, .footer-credits a:hover {
    color: white;
}