/* ----------------- MOBILE MEDIA QUERIES ----------------- */

@media (min-width: 320px) and (max-width: 480px) {

    /* ----------------- HEADER ----------------- */

    .header-social, .header-buttons, .header-menu {
        display: none;
    }

    .header-icons {
        padding: 2rem;
    }

    .header-mobile-nav {
        display: block;
    }

    .offcanvas-btn-mobile {
        display: block;
    }

    .page-title h1 {
        font-size: 2.5rem;
    }

    .page-title h5 {
        font-size: 1.5rem;
    }

    /* ----------------- CATEGORIES FILTER ----------------- */
    
    .filter-categories ul {
        gap: 2rem;
    }

    .filter-categories li a {
        border: solid 1px rgba(0,0,0,0.1);
        padding: 0.2rem 1.2rem;
        font-size: 1.2rem;
    }

    /* ----------------- CARD GRID ----------------- */

    .card-container {
        grid-template-columns: 1fr;
        padding: 0 1.2rem 6.8rem;
    }

    .card {
        max-height: 28rem;
        padding: 3rem 3rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-category, .card-footer-cm p {
        font-size: 1rem;
        line-height: 1.8rem;
    }

     /* ----------------- FOOTER HERO ----------------- */
    .footer-hero-wrapper {
        width: 85%;
    }

     .footer-hero h2 {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    .footer-hero h5 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .footer-hero button {
        font-size: 1.2rem;
    }

    .footer-hero p {
        font-size: 1.1rem;
    }
}
