/* ----------------- LARGE DEVICES ----------------- */

@media only screen and (min-width: 1185px) and (max-width: 1800px) {
    .header-icons {
        width: 90%;
        padding: 2rem 3rem;
    }
    
    .header-menu {
        width: 90%;
        padding: 0 3rem;
    }

    .card-container {
        width: 80%;
    }

    .footer-grid-container {
        width: 58%;
    }

    .footer-newsletter {
        width: 28%;
    }

    .footer-address, .footer-credits {
        width: 86%;
    }

    footer input[type="submit"] {
        right: 16rem;
    }

    .card {
        height: 43rem;
        width: 43rem;
    }
    
}