/* ----------------- TABLET MEDIA QUERIES ----------------- */

@media (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    /* ----------------- HEADER ----------------- */

    .header-icons {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .header-social, .header-menu {
        display: none;
    }

    .header-mobile-nav {
        display: block;
    }

    .page-title h1 {
        font-size: 3.25rem;
    }

    .page-title h5 {
        font-size: 1.8rem;
    }

    .filter-categories li a {
        font-size: 1.8rem;
    }

    /* ----------------- CARD GRID ----------------- */

    .card-container {
        padding: 0 3.8rem 6.8rem;
    }

    .card {
        max-height: 36rem;
    }

    .card-title {
        font-size: 2.4rem;
    }

    .card-category, .card-footer-cm p {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    /* ----------------- FOOTER HERO ----------------- */

    .footer-hero h2 {
        font-size: 6rem;
        line-height: 7rem;
    }

    .footer-hero h5 {
        font-size: 2rem;
        line-height: 2.8rem;

    }

    .footer-hero button {
        font-size: 1.5rem;
    }

    .footer-hero p {
        font-size: 1.4rem;
    }

    /* ----------------- FOOTER MENU ----------------- */

    .footer-grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2;
        grid-template-areas:
        'col1 col2 col3 col4'
        'newsletter newsletter newsletter newsletter';
        row-gap: 5rem;
    }

    .footer-newsletter {
        grid-area: newsletter;
    }

    footer input[type="submit"] {
        width: 3%;
    }

    footer form {
        margin: 0;
    }
}